
			<div class="row margin-top">
				<div class="col-md-12">
					<button type="button" class="btn btn-default" style="float: right;" id="pro-button">
						
							<span class="glyphicon glyphicon-home"></span>
						
				
				</div>
			</div>
			<div class="row top-bar">
				
  			<div class="col-md-12">
  				<div>
  					<p> PRO VERSION </p>
  				</div class="pro-version">
  			</div>
  			
  		</div>


  		<div class="row middle-bar">
  		
  			<div class="col-md-12">
  				<button type="button" class="btn btn-warning btn-lg" id="pro-button-lg">sign up now</button>
  			</div>
  			
  		</div>

  		<div class="row bottom-bar">
  			
  			<div class="col-md-12">
  				
  				<p> only $100/month </p>
  			</div>
  		</div>

  		<div class="row margin-bottom">
  			<div class="col-md-4"></div>
				<div class="col-md-4">
					<p>with pro version you get extra features:</p>
						<div>
							<ul class="list-group">
							<li class="list-group-item">change and delete your posts</li>
							<li class="list-group-item">see your history overtime to better understand your relationship</li>
							<li class="list-group-item">notify your partner when you make a new post</li>
							<li class="list-group-item">remind your partner when you deserve brownie poits when credit is due</li>
							<li class="list-group-item">check other people's histories to know their habits before you start dating them</li>
							<li class="list-group-item">give advice to your ex's partner</li>
							</ul>
						</div>
						<div class="col-md-4"></div>

				</div>
			</div>

	
<!-- 
	<li>change and delete your posts</li>
						<li>see your history overtime to better understand your relationship</li>
						<p>notify your partner when you make a new post</p>
						<p>remind your partner when you deserve brownie poits when credit is due</p>
						<p>check other people's histories to know their habits before you start dating them</p>
						<p>give advice to your ex's partner</p>
	<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
 -->


