
			<div class="row top-bar">
				
  			<div class="col-md-12">
  				<div>
  					<p> PRO VERSION </p>
  				</div class="pro-version">
  			</div>
  			
  		</div>


  		<div class="row middle-bar">
  		
  			<div class="col-md-12">
  				<button type="button" class="btn btn-warning btn-lg">sign up now</button>
  			</div>
  			
  		</div>

  		<div class="row bottom-bar">
  			
  			<div class="col-md-12">
  				
  				<p> only $100/month </p>
  			</div>
  	
  		</div>

	



