<div class="row">
	<div class="hero">
		<div class="top-bar">
			<p> PRO VERSION </p>
		</div>
		<p class="price"> 
			only $99.99/month 
		</p>
	</div>
</div>

<div class="row">
	<div class="col-md-4 "></div>
	<div class="col-md-4 ">
		<div class="features-table center-block">
			<div id="spacer" style="height: 50px;">
			</div>
			<div class="features-title">
				<p class="title center-block">
					extra features include:
				</p>
			</div>
			<div id="spacer" style="height: 20px;">
			</div>
			<ul class="list-group center-block" >
				<li class="list-group-item title-color">change and delete your posts</li>
				<li class="list-group-item">see your history overtime to understand your relationship</li>
				<li class="list-group-item">notify your partner when you make new posts</li>
				<li class="list-group-item">remind your partner when you deserve brownie points</li>
				<li class="list-group-item">check other people's histories to know their habits before you start dating them</li>
				<li class="list-group-item">give advice to your ex's new partner</li>
			</ul>
			<button type="button" class="btn btn-warning btn-lg center-block" id="pro-button-lg">sign up now</button>
		</div>
	</div>
	<div class="col-md-4 "></div>
	
</div>

<div class="row">
</div>