<div class="row">
	<div class="col-md-4" style="background-color: green">left graph
		<%= total_points(current_user) %>
	</div>

	<div class="col-md-4" style= "background-color: red">winner text
		<%= winner(current_user, other_user)%>
	</div>

	<div class="col-md-4" style= "background-color: yellow">right graph
		<%= total_points(other_user) %>
	</div>
</div>


<div class="row">
	<div class="col-md-4" style= "background-color: grey">timeline
	</div>
</div>