.incident {
     max-height: 500px;
     overflow-y: scroll;
   }

 .rounding {

  border-radius:7px; 
  padding:10px;
 }

 .button-properties {
 	padding: 25px;
 }
 
 .text-properties {
 	height: 100px;

 }

 .button-and-text-alignment {
 	
 }

 form {
    display: inline;
}

