.incident {
     max-height: 500px;
     overflow-y: scroll;
   }

 .rounding {
<<<<<<< HEAD
  border-radius:7px; 
  padding:10px;
 }

 .button-properties {
 	padding: 25px;
 }
 
 .text-properties {
 	height: 100px;

 }

 .button-and-text-alignment {
 	
 }
=======
    border-radius:7px; 
    padding:10px;
 }

 form {
    display: inline;
}
>>>>>>> 3a838337cd6c9141c427d6b56b3fe1fb74f0c352
