<!-- Login page -->
<!-- Currently hardcoded for four seeded users only -->
<div align= right>
<h5>Temporary Hardcoded Logins</h5>
<a href="/login/1/Shnookum">Shnookum</a>
<br>
<a href="/login/1/Fuzzybear">Fuzzybear</a>
<br>
<a href="/login/2/Bob">Bob</a>
<br>
<a href="/login/2/Milly">Milly</a>
</div>
<br>
<div align= center>
  <h1>Thank-you for using:</h1>
    <img src="/images/divorcemaker.png">
  <h2> Remember to come back, or you might lose the relationship!!</h2>
</div>
