<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style>
    .incident-display {
      background-color:yellow;
      margin-bottom: 10px;
      height:50px;  
        
    }

    .incident-text {
      background-color: green;
    }

    .incident-button {
      background-color: blue;
      height: 50px;
      width: 400px;
    }

    .incident {
      height: 500px;
      overflow-y: scroll;
      background-color: grey
    }

  </style>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
    <div class="container-fluid">
      <%= yield %>
    </div>
</body>
</html>

